/* @font-face {
  font-family: Pacifico;
  src: url(./assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

:root {
  --blue: #3D64AD;
  --green: #679A2F;
  --red: #E6233C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
} */