/* /* @font-face {
  font-family: Pacifico;
  src: url(./assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
} */

:root {
  --blue: #3D64AD;
  --green: #679A2F;
  --red: #E6233C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.cart-actions {
  position: fixed; /* Fica fixo no canto inferior */
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.cart-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #E6233C; /* Cor do botão */
  color: white;
  cursor: pointer;
}

.cart-actions button:hover {
  background-color: #c52032; /* Cor do botão ao passar o mouse */
}
